<div class="f-header">
    <h1>Features</h1>
  </div>
  <div class="f-container">
    <div class="f-Features">
      <h2>Effortless Navigation</h2>
      <div class="pf">
        <p>Github Profile Viewer ensures effortless navigation through GitHub profiles. Whether you're a seasoned open-source enthusiast or a curious observer, the user-friendly interface simplifies the exploration process.          </p>
      </div>
    </div>
    <div class="f-Features">
      <h2>Detailed Repository Insights
      </h2>
      <div class="pf">
        <p>Gain in-depth insights into repositories, including names and descriptions. Explore the coding projects that define a developer's journey, all presented in a clear and organized manner.
        </p>
      </div>
    </div>
    <div class="f-Features">
      <h2>Explore Connections
      </h2>
      <div class="pf">
        <p>Efficiently explore a user's network by checking their followers and those they follow. Identify key contributors in the open-source community and broaden your connections effortlessly.
        </p>
      </div>
    </div>

    <div class="f-Features">
      <h2>Star History
      </h2>
      <div class="pf">
        <p>While not offering a detailed commit history, Github Profile Viewer showcases the star history of repositories. Understand which projects have garnered attention and appreciation, providing insights into a developer's impact on the GitHub community.
        </p>
      </div>
    </div>
    <div class="f-Features">
      <h2>Created with Next.js
      </h2>
      <div class="pf">
        <p>Github Profile Viewer is powered by Next.js, ensuring optimized performance and a seamless user experience. Enjoy fast-loading pages and real-time data retrieval for efficient exploration.
        </p>
      </div>
    </div>
    <div class="f-Features">
      <h2>Responsive Design with Radix UI
      </h2>
      <div class="pf">
        <p>The integration of Radix UI guarantees a responsive design, allowing you to explore GitHub profiles across various devices. Whether on desktop or mobile, the experience remains smooth and consistent.
        </p>
      </div>
    </div>
  </div>