<h1>GITHUB PROFILE VIEWER</h1>
<p>Explore GitHub and Gist profiles effortlessly, utilizing the GitHub REST API to retrieve comprehensive information. </p>

<a class="chrome" target="_blank" href="https://chromewebstore.google.com/detail/gpv-opener/abgechjdbcnlcdcmhkaakobeoimjgkmb">
  <img id="chrome" src="img/chrome.webp" alt="">
</a>