<div class="bar">
    <button id="reposButton" onclick="toggleSection('repos')">Repos</button>
    <button id="statsButton" onclick="toggleSection('stats')">Stats</button>
    <button id="gistsButton" onclick="toggleSection('gists')">Gists</button>
</div>

<div class="bsluk"></div>
