<header>
  <a href="/"><h1>GPV</h1></a>
  <div class="search">
    <a href="#" id="openModal"><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></a>
  </div>
</header>

<div class="modal" id="myModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Search</h2>
      <button id="closeModal">Close</button>
    </div>
    <div class="modal-cont">
      <div class="filterr" style="">
        <input type="text" id="searchInput">
      </div>

      <div class="modal-list" id="userList">
      </div>
    </div>
  </div>
</div>